/* font name */
.open-sans-normal> {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* shared style */
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .text-primary{
    color: #FD6E0A;
  }
  .dark-2{
    color: #474747;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
  }
  .section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
  }
  .section-description{
    font-size: 18px;
    color: #757575;
  }
  .text-center{
    text-align: center;
  }
  /* header style */
  .header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;

  }

/* nav style */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 210px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    width: 588px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 110px;
    margin-bottom: 110px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section styles */
.skill-container{
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-top: 30px;
}
/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
    padding: 0px 20px;
    margin: 0;
}
.experience-title{
    color:#474747 ;
    font-size: 25px;
    font-weight: bold
}
.experience-subtitle{
    color:#757575 ;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.experience-description{
    color: #757575;
    font-size: 16px;
    padding-bottom: 10px;
}
.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.resume hr{
    padding: 0px 0px;
}
.resume-column{
    padding: 0px 10px;
}
.button-download-cv{
    padding-top: 20px;
}


